/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color: #000028;
  --font-family: "IBM Plex Mono", monospace;
  --font-weight: 400;
  --font-weight-bold: 700;
  --font-size: 18px;
  --accent-color: #ff0070;
  --title-color: #ff0070;
  --accent-color-rgb: 255, 0, 112;
  --paragraph-text-color: #f1b2ce;
  --footer-title-color: #db00ff;
  --display-none: none;
}
